<a href="https://colab.research.google.com/github/Rajendrapresad/insurance-cost-prediction/blob/master/Insurance_cost_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import the necessary libraries
import pandas as pd
import numpy as np

In [0]:
#Load file from Google drive
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/insurance.csv")

In [0]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [0]:
#Check if there are any empty values in out dataframe
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [0]:
#Convert categorical features into numerical features using one hot encoding
cols = ['sex', 'smoker', 'region']
new_df = pd.get_dummies(df, cols, drop_first= True)

#See if the mentioned features have ben converted
new_df.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 9 columns]

In [0]:
#Slice off only the relevant features from the dataset to train our model
X = new_df[['age', 'bmi', 'smoker_yes']]
y = new_df['charges']

In [0]:
#Import Linear Regression machine learning model from sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

#Instantiate the linear regression model
model = LinearRegression()

In [0]:
#Function to perform the linear regression 10 times with 10 different train test split values and finally give mean of R square

def find_r2(M, n):
  mean_r2 = 0
  for i in range(100):
    M_train, M_test, n_train, n_test = train_test_split(M, n, test_size = 0.2)
    model.fit(M_train, n_train)
    mean_r2 += model.score(M_test,n_test)
  return mean_r2/100

In [0]:
find_r2(X, y)

0.7422813475205271

In [0]:
#We can get to know the intercept using this command. This is the value of output when all input features are zero
model.intercept_

-12038.541048707566

In [0]:
#Getting coeffiecients that our linear regression uses to predict insurance cost
model.coef_

array([  269.75240575,   316.68365152, 24140.19804267])

In [0]:
#Function that uses our model to calculate the insurance cost by taking inputs of age, bmi and smoking status of an individual
def calc_insurance(age, bmi, smoking_status):
  if smoking_status == 'smoker':
    s = 1
  else:
    s = 0
  insurance_cost = (linreg.intercept_ + linreg.coef_[0] * age + linreg.coef_[1] * bmi + linreg.coef_[2] * s)
  return insurance_cost

In [0]:
#Calling our function to predict the insurance cost of a smoking individual of age 27 with bmi of 42.13
calc_insurance(27, 42.13, "smoker")

33226.721135190484